@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Ultra.otf");
}

@font-face {
  font-family: "Gotham-Italic";
  src: url("../fonts/Gotham-UltraItalic.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/Gotham-Light.otf");
}
