.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 20px;
  border-bottom: 1px solid var(--color-primary);
  transition: 0.5s ease;

  &.open {
    .dropdown-content {
      height: auto; /* Cambia la altura a automático cuando está abierto */
      margin-top: 20px;
    }
  }

  .dropdown-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .sub-item {
      display: flex;
      align-items: center;
      gap: 0 20px;
      h3 {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Gotham-Light', sans-serif;
      }
      .contain-checklist{
        padding: 10px;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow:
        0 0 10px 5px red, // Sombra exterior
        inset 0 0 10px 5px red;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 13px;
          height: 13px;
          object-fit: contain;
        }
      }
    }
    p {
      color: #fff;
      transition: 0.5s ease-in-out;
      font-size: 22px;
    }
  }

  .dropdown-content {
    overflow: hidden;
    width: 100%;
    height: 0; /* Altura inicial 0 */
    transition: height 0.1s ease-in-out; /* Transición de altura */
    p {
      color: #fff;
      padding-left: 55px;
      font-family: 'Gotham-Light', sans-serif;
    }
  }
}

@media screen and (max-width: 1024px)  {
  .dropdown {
    .dropdown-header {
      .sub-item {
        gap: 0 20px;
        h3 {
          font-size: 16px;
        }
      }
      p {
        font-size: 21px;
      }
    }
  
    .dropdown-content {
      p {
        font-size: 12px;
      }
    }
  }
}